header {
    display: flex;
    justify-content: space-between;
    background-color: #689195;
    border-bottom: 10px solid #050000;
    padding: 10px 20px;
    align-items: center;
}

img{
    background-color:bisque ;
    border-radius: 10px;
    box-shadow: 3px 3px 0 #272727;

}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    display: inline-block;
    background-color: #050000;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    
}


#button {
    display: inline-block;
    background-color: #cea4a6;
    box-shadow: 5px 5px 0 #050000;
    padding: 18px 20px;
    margin-right: 0;
    cursor: pointer;
    transition: tranform 100ms linear, 200ms ease-in-out;
    
}
#button:hover {
    transform: scale(1.1);
   }